<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Dashboard Analisis Kesehatan</title>
        <style>
            body {
                font-family: sans-serif;
                padding: 2em;
            }
            a {
                display: block;
                margin: 1em 0;
                font-size: 1.2em;
            }
        </style>
    </head>
    <body>
        <h1>Selamat Datang di Platform Analisis Kesehatan Diabetes</h1>
        <p>Silakan pilih analisis yang ingin Anda lihat:</p>
        <a href="{% url 'diabetes_prediction' %}"
            >1. Business Requirement: Prediksi Status Diabetes</a
        >
        <a href="{% url 'population_segmentation' %}"
            >2. Business Requirement: Segmentasi Populasi</a
        >
        <a href="{% url 'highbp_risk_factors' %}"
            >3. Business Requirement: Analisis Faktor Risiko Tekanan Darah Tinggi</a
        >
    </body>
</html>
